# These are the packages required for deployment.

Flask==2.0.1
pandas==1.2.4
gunicorn==20.1.0

# These are the additional packages required for scraping
# beautifulsoup4==4.9.3
# bs4==0.0.1
# requests==2.25.1
